@using ToDoList;
@model ToDoList.Models.ToDoItem;



<section style="display:flex; flex-direction:column; align-items:center; padding:10px;">

    <div style="margin-bottom: 10px; display: flex; flex-direction: column;">



        <form asp-action="Create">
            <div style="display: flex;">
                <div style="width: 300px; margin: 0 10px;">
                    <input asp-for="Name" class="form-control" placeholder="What's next on the list?" />
                </div>
                <div>
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </div>
        </form>


        @{
            await Html.RenderPartialAsync("../ToDoItem/_ActiveItems.cshtml",
                (IEnumerable<ToDoItem>)ViewBag.activeItems);

            await Html.RenderPartialAsync("../ToDoItem/_CompletedItems.cshtml",
          (IEnumerable<ToDoItem>)ViewBag.completedItems);

        }


        </div>


</section>
